<div class="container">
  <h2>Configurações da Aplicação</h2>
  <form>
    <div class="mb-3">
      <label for="username" class="form-label">Nome de Usuário</label>
      <input type="text" class="form-control" id="username" placeholder="Insira seu nome de usuário" />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Insira seu email" />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input type="password" class="form-control" id="password" placeholder="Insira sua senha" />
    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="notifications" />
      <label class="form-check-label" for="notifications">Ativar Notificações</label>
    </div>

    <button type="submit" class="btn btn-primary">Salvar Configurações</button>
  </form>

  <br>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModal()">
    Abrir Modal
  </button>


  <!-- Tabela para exibir os registros -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tbody>
      <!-- Exibe os dados armazenados no array `data` -->
      <tr *ngFor="let item of data">
        <td>{{ item.name }}</td>
        <td>{{ item.phone }}</td>
      </tr>
    </tbody>
  </table>
</div>


 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #form="ngForm">
          <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="formData.name" name="name" required />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Telefone</label>
            <input type="text" id="phone" class="form-control" [(ngModel)]="formData.phone" name="phone" required />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="addData()">Salvar</button>
      </div>
    </div>
  </div>
</div>
